src/main/java/net/myrts/alchemy/taxonomy/taxonomy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results" type="resultsType"/>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="xs:string" name="usage"/>
      <xs:element type="xs:string" name="totalTransactions"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="taxonomyType" name="taxonomy"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="xs:string" name="confident" minOccurs="0"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="score" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxonomyType">
    <xs:sequence>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>