src/main/java/net/myrts/alchemy/concept/concept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results" type="resultsType"/>
  <xs:complexType name="conceptsType">
    <xs:sequence>
      <xs:element type="conceptType" name="concept" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conceptType">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
      <xs:element name="relevance" type="xs:string"/>
      <xs:element name="dbpedia" type="xs:string"/>
      <xs:element name="freebase" type="xs:string"/>
      <xs:element name="opencyc" minOccurs="0" type="xs:string"/>
      <xs:element type="xs:string" name="yago" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="xs:string" name="usage"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="conceptsType" name="concepts"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
